.product-card {
    width: 200px;
    height: 250px;
    margin: 0 auto;
    text-align: center; 
}

.title {
    font-size: 16px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    align-self: center;
}

img {
    max-width: 100%; 
    height: auto; 
}

@media screen and (max-width: 600px) {
    .product-card { 
        width: 120px;
        height: 170px;
    }
}