<footer class="footer">
    <div class="row">
        <div class="col">
            <div class="widget1">
                <a href="https://www.labmate.com/"> 
                    <img src="https://www.labmate.com/assets/images/logo.png" class="flogo" alt="Logo"></a> 
                    <br><br>
                        <ul >
                        <li class="com_info">
                            <a class="com_info" href="mailto:info@labmate.com">
                            <b >Mail :</b>  info@labmate.com
                            </a>
                        </li>
                        <li class="com_info">
                            <a class="com_info" href="tel:+13014500503">
                            <b >Phone :</b>+1 (301) 450-0503</a> </li>
                    <li class="com_info">
                    <b >Address :</b>Labmate Scientific Inc,
                                    <br>444 W Lake Street,
                                    <br>Chicago- IL 60606,
                                    <br>USA
                    </li>  
                </ul>
                <div class="socialLinks">
                    <!-- Facebook Icon -->
                    <a href="https://www.facebook.com/labmatescientific" target="_blank">
                        <fa-icon [icon]="facebookIcon"></fa-icon>
                    </a>

                    <!-- Twitter Icon -->
                    <a href="https://twitter.com/labmateltd" target="_blank" >
                        <fa-icon [icon]="twitterIcon"></fa-icon>
                    </a>

                    <!-- Instagram Icon -->
                    <a href="https://www.instagram.com/#" target="_blank" >
                        <fa-icon [icon]="instagramIcon"></fa-icon>
                    </a>

                    <!-- Linkedin Icon -->
                    <a href="https://www.linkedin.com/#" target="_blank" >
                        <fa-icon [icon]="linkdinIcon"></fa-icon>
                    </a>

                    <!-- Email Icon -->
                    <a href="mailto:info@labmate.com" target="_blank" >
                        <fa-icon [icon]="emailIcon">Email Us!</fa-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="widget2">
                <h4>Quick Links</h4>
                <ul style="padding-left:0px;">
                    <li class="com_info"><a [routerLink]="['/home']">Home</a></li>
                    <li class="com_info"><a [routerLink]="['/all-products']">All Products</a></li>
                    <li class="com_info"><a [routerLink]="['/products/lab-equipments']">Lab Equipment</a></li>
                    <li class="com_info"><a [routerLink]="['/products/lab-supplies']">Lab Supplies</a></li>
                    <li class="com_info"><a [routerLink]="['/catalogs']">All Catalogs</a></li>
                    <li class="com_info"><a [routerLink]="['/about-us']">About Us</a></li>
                    <li class="com_info"><a [routerLink]="['/contact-us']">Contact Us</a></li>
                    <li class="com_info"><a [routerLink]="['/career']">Career</a></li>
                    <li class="com_info"><a [routerLink]="['/#']">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="widget3">
                <h4>
                    Categories
                </h4>
                <ul style="padding-left:0px;">
                                            <li class="com_info">
                        <a href="https://www.labmate.com/air-permeability-testers">Air Permeability Testers</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/air-sampler">Air Sampler</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/air-shower">Air Shower</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/amino-acid-analyzer">Amino Acid Analyzer</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/anaerobic-jar">Anaerobic Jar</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/autoclave">Autoclave</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/automated-stainer">Automated Stainer</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/ball-mill">Ball Mill&nbsp;</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/products">View All</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="widget4">
                <h4> Best Seller</h4>
                <ul style="padding-left:0px;">
                                            <li class="com_info">
                        <a href="https://www.labmate.com/illumination-incubator/lmii-a100">Illumination Incubator LMII-A100</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/forced-convection-oven/lmfo-a203">Forced Convection Oven LMFO-A203</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/pp-spray-fume-hood/lmsf-a100">PP Spray Fume Hood LMSF-A100</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/density-meter/lmdm-a101">Density Meter LMDM-A101</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/air-cooled-chiller/lmacr-a108">Air Cooled Chiller LMACR-A108</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/electronic-balance/lmbe-b116">Electronic Balance LMBE-B116</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/class-s-tabletop-autoclave/lmlt-a101">Class S Tabletop Autoclave LMLT-A101</a>
                    </li>
                                            <li class="com_info">
                        <a href="https://www.labmate.com/magnetic-stirring-heating-mantle/lshm-a200">Magnetic Stirring Heating Mantle LSHM-A200</a>
                    </li>
                 </ul>
        </div>
    </div>
    <hr>
    <div class=" row copyRightArea">
        <p style="margin:0px;">© Copyright l All rights reserved 2022.</p>
    </div>
</div>
</footer>