* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1b5e91;
    color: white
    
}

a {
    text-decoration: none;
    font-size: small;
}

.socialLinks a {
    margin-right: 10px; 
    font-size: x-large;
}

.footer {
    padding: 20px; 
}

ul
{
    list-style-type: none;
}

.copyRightArea {
    text-align: center;
} 

@media only screen and (max-width: 767px) {
    .col {
        width: 100%;
        margin-bottom: 20px;
    }

    .widget3 ul,
    .widget4 ul {
        display: none;
    }
}