<ul class="breadcrumb">
    <li class="breadcrumb-item">
    <a [routerLink]="['/home']" data-abc="true"> <i class="fa fa-home" aria-hidden="true"></i> </a>
    </li>
          <li class="breadcrumb-item">
    <a [routerLink]="['/products']"  data-abc="true" style="text-decoration: none;"> All Products</a>
    </li>
    <li class="breadcrumb-item">
        <a [routerLink]="['/products/lab-equipments']"  data-abc="true" style="text-decoration: none;"> Lab Equipments</a>
    </li>
    <li class="breadcrumb-item">
        <a [routerLink]="['/products/lab-equipments/product-details',prevTitle]"  data-abc="true" style="text-decoration: none;"> {{prevTitle}}</a>
    </li>
    <li class="breadcrumb-item">
        <a [routerLink]="['/products/lab-equipments/product-details/sub-category-product',prevTitle,newTitle]"  data-abc="true" style="text-decoration: none;"> {{newTitle}}</a>
    </li>
</ul>

<div class="container">
    <h1>{{ newTitle }}</h1>
    <p>The air permeability tester represents a cutting-edge technological tool designed for swift and precise measurement of air permeability across diverse materials. Operating as a fully automated system, it is under the control of a microcomputer, ensuring efficiency and accuracy. This advanced instrument boasts a wide measurement range, spanning from 0 to 2500 ml/min, and accommodates pressure differences from 0.05 to 6 kPa. Flexibility is a key feature, allowing users to obtain results in their preferred units of measurement. Furthermore, the air permeability tester incorporates user-friendly components, such as an LCD screen for intuitive navigation and a micro-printer for swift and legible result documentation.</p>
</div>

<div class="container">
    <div *ngFor="let equipment of laboratoryEquipmentsProducts" >
        <mat-card class="mat-card" >
            <button mat-mini-fab [color]="isCardSelected(equipment.title) ? 'accent' : 'primary'" aria-label="Add" class="top-right-button" (click)="handleButtonClick(equipment.title)">
    <mat-icon>{{ isCardSelected(equipment.title) ? 'done' : 'add' }}</mat-icon>
  </button>
            <img class="card-image" [src]="equipment.imageSrc" alt="{{ equipment.title }}" (click)="viewDetails( equipment.title , equipment.id )" >
          
            <mat-card-title class="title" (click)="viewDetails( equipment.title , equipment.id )"> {{ equipment.title}}
                <!-- <a  [routerLink]="['/products/lab-equipments/product-details', equipment.title]">{{ equipment.title }}</a>    -->
            </mat-card-title>
            <mat-card-actions class="card-button justify-content-center">
                <button mat-stroked-button color="primary" (click)="viewDetails( equipment.title , equipment.id )" mat-button >View</button> 
                &nbsp;&nbsp;&nbsp;
                <button mat-raised-button color="primary" [routerLink]="['/products/catalog-preview', equipment.title ]" mat-button>Catalog</button>
              </mat-card-actions>
        </mat-card>
    </div>

</div>
<div class="container">
    <button mat-raised-button color="primary" mat-button (click)="compareProducts()"   [disabled]="selectedCardTitles.length < 2">
      Compare ({{ selectedCardTitles.length }})
    </button>
</div>