<div class="box">
    <!-- <img src="../assets/images/labmate-background.jpg" alt="labmate-background"> -->
    <img src="../assets/images/aboutus.png" alt="labmate-background">

</div> <br>
<div class="container">
    <section class="mat-typography">
    <h1>About Us</h1>
    <h3>
        <p>Labmate Scientific Inc is a well-known manufacturer of Laboratory Equipment. We work hard to create innovative and dependable products that meet the needs of our customers in every industry. For more than two decades, the company has been developing solution-driven products to meet a wide range of laboratory needs.</p>
        <p>We provide top-grade laboratory products to cater the needs of many Educational institutions, Hospitals, Research institutes, Pharmaceutical industries, Environmental sciences, Chemical, biological and clinical diagnostic labs and other organizations since the company's inception.</p>
        <p>We are an ISO 9001:2015 certified company, and most of our products meet stringent International Standards such as ISO 13485:2012, ISO 14001:2015, ISO 13485:2016 and CE Certifications complying with GMP standards.</p>
        <p>You can find a complete range of high-quality, laboratory equipment manufactured with various specifications to meet your laboratory needs. Our advanced laboratory instruments give laboratories the comprehensive approach needed to accomplish operational goals.</p>    
       
       <ul>
           <li><a href="#">Autoclave</a></li> 
           <li><a href="#">Laboratory Freezer</a></li>
            <li><a href="#">Chiller</a></li>
            <li><a href="#">Laboratory Clean Bench</a></li>
            <li><a href="#">Water Circulator</a></li>
            <li><a href="#">Colony Counter</a></li>
            <li><a href="#">Fume Hood</a></li>
            <li><a href="#">Laboratory Furnace</a></li>
            <li><a href="#">Centrifuge</a></li>
            <li><a href="#">Laboratory Incubator</a></li>
       </ul>
       
        Use our product search to find exactly what you are looking for.
    </h3>
    </section>
</div>